@page
@using Microsoft.Extensions.Localization
@using Net8.CoreService.Localization
@using Net8.CoreService.Web.Pages.CoreService
@model Net8.CoreService.Web.Pages.CoreService.IndexModel
@inject IStringLocalizer<CoreServiceResource> L

@{
}
<h1>CoreService</h1>
<p>@L["SamplePageMessage"]</p>
